* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    outline: none;
}

:root {
    --fonte-letra: "Inter", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: var(--fonte-letra);
}

input {
    cursor: pointer;
}

#cartao {
    background-image: url(images/bg-main-mobile.png);
    width: 100vw;
    height: 22rem;
    display: block;
}

#cartao .card-back {
    position: absolute;
    bottom: 70%;
    left: 20%;
}

#cartao .card-front {
    position: absolute;
    bottom: 56%;
    left: 5%;
}

#info-card {
    color: white;
    text-transform: uppercase;
}

#info-card p.number {
    position: absolute;
    left: 10%;
    bottom: 64%;
    word-spacing: 10px;
    font-size: 2rem;
}

#info-card p.exp-date {
    position: absolute;
    left: 10%;
    bottom: 59%;
    font-size: 1.2rem;
}

#info-card p.cvc1 {
    position: absolute;
    left: 63%;
    bottom: 59%;
    font-size: 1.2rem;
}

#info-card p.cvc2 {
    position: absolute;
    left: 68%;
    bottom: 59%;
    font-size: 1.2rem;
}

#cartao .card-logo {
    position: absolute;
    left: 10%;
    bottom: 74%;
}

#dados-cartao {
    margin-top: 8rem;
    font-size: 1rem;
    text-transform: uppercase;
    opacity: 1;
    
}

#dados-cartao section {
    margin-bottom: 1.5rem;
    margin-left: 2rem;
}

.text-top {
    margin-bottom: 10px;
}

.input-deco input {
    font-size: 1.5rem;
    padding: 15px 40% 15px 20px;
    border: 1px solid rgba(0, 0, 0, 0.295);
    border-radius: 10px;
}

#resto-info-text label {
    margin-right: 4.6rem;
}

#resto-info-input .exp-date {
    font-size: 1.5rem;
    width: 6rem;
    padding: 15px 10px 15px 20px;
    border: 1px solid rgba(0, 0, 0, 0.295);
    margin-right: 10px;
    border-radius: 10px;
}

#resto-info-input .cvc {
    width: 56%;
    font-size: 1.5rem;
    padding: 15px 10px 15px 20px;
    border: 1px solid rgba(0, 0, 0, 0.295);
    border-radius: 10px;
}

button.confirm {
    display: block;
    margin: auto auto 1rem auto;
    padding: 15px 14.5rem;
    font-size: 1.5rem;
    border: none;
    color: white;
    background-color:#22092F;
    border-radius: 10px;
    
}

button.confirm:hover {
    background-color:#44135e ;
}

@media screen and (min-width: 650px) {
    #cartao {
    background-image: url(images/bg-main-desktop.png);
    background-repeat: no-repeat;
    width: 10%;
    height:100vh;
}

}