* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    outline: none;
}

:root {
    --fonte-letra: "Inter", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: var(--fonte-letra);
}

input {
    cursor: pointer;
}

#cartao {
    background-image: url(images/bg-main-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 22rem;

}

#cartao .card-back {
    position: absolute;
    bottom: 70%;
    left: 20%;
}

#cartao .card-front {
    position: absolute;
    bottom: 56%;
    left: 5%;
}

#info-card {
    color: white;
    text-transform: uppercase;
}

#info-card p.number {
    position: absolute;
    left: 10%;
    bottom: 64%;
    word-spacing: 10px;
    font-size: 2rem;
}

#info-card p.exp-date {
    position: absolute;
    left: 10%;
    bottom: 59%;
    font-size: 1.2rem;
}

#info-card p.cvc1 {
    position: absolute;
    left: 63%;
    bottom: 59%;
    font-size: 1.2rem;
}

#info-card p.cvc2 {
    position: absolute;
    left: 68%;
    bottom: 59%;
    font-size: 1.2rem;
}

#cartao .card-logo {
    position: absolute;
    left: 10%;
    bottom: 74%;
}

#dados-cartao {
    margin-top: 8rem;
    font-size: 1rem;
    text-transform: uppercase;
    opacity: 1;

}

#dados-cartao section {
    margin-bottom: 1.5rem;
    margin-left: 2rem;
}

.text-top {
    margin-bottom: 10px;
}

.input-deco input {
    font-size: 1.5rem;
    padding: 15px 40% 15px 20px;
    border: 1px solid rgba(0, 0, 0, 0.295);
    border-radius: 10px;
}

#resto-info-text label {
    margin-right: 4.6rem;
}

#resto-info-input .exp-date {
    font-size: 1.5rem;
    width: 6rem;
    padding: 15px 10px 15px 20px;
    border: 1px solid rgba(0, 0, 0, 0.295);
    margin-right: 10px;
    border-radius: 10px;
}

#resto-info-input .cvc {
    width: 56%;
    font-size: 1.5rem;
    padding: 15px 10px 15px 20px;
    border: 1px solid rgba(0, 0, 0, 0.295);
    border-radius: 10px;
}

button.confirm {
    display: block;
    margin: auto auto 1rem auto;
    padding: 15px 14.5rem;
    font-size: 1.5rem;
    border: none;
    color: white;
    background-color: #22092F;
    border-radius: 10px;
    cursor: pointer;

}

.off {
    display: none;
}

button.confirm:hover {
    background-color: #44135e;
}

@media screen and (min-width: 650px) {

    main {
        display: flex;
        align-items: center;
    }

    #cartao {
        background-image: url(images/bg-main-desktop.png);
        background-repeat: no-repeat;
        width: 30%;
        height: 100vh;
    }

    #dados-cartao {
        margin-left: 20%;
        margin-bottom: 6%;
    }

    .card-icon .card-logo {
        transform: translate(8.5rem, 4rem);
    }

    .card-icon .card-back {
        transform: translateY(30rem);
    }

    .card-icon .card-front {
        transform: translate(12rem, 4rem);
    }

    #info-card .number {
        transform: translate(8.4rem, 3.5rem);
    }

    #info-card .exp-date {
        transform: translate(8.4rem, 3.5rem);
    }

    #info-card .cvc1 {
        transform: translate(-34rem, 3.5rem);
    }

    #info-card .cvc2 {
        transform: translate(-37.9rem, 3.5rem);
    }
}

.success {
    text-align: center;
    margin-top: 2rem;
}

.success .icon {
    width: 70px;
    height: 70px;
    margin: 0 auto 20px;
    background: linear-gradient(135deg, #6448FE, #600594);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.success h2 {
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.success p {
    color: #777;
    margin-bottom: 25px;
}

.success button {
    padding: 15px;
    width: 100%;
    background: #22092F;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}